<div class="jumbotron">
    <h1>SOFT UNI</h1>
    <p class="lead" style="font-size:28px">Proyecto para universidades Dominicanas, Proyecto Integrador 2</p>
    <p class="lead" style="font-size:20px;font-style:inherit;"> Maestra: Paola Martinez</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Integrantes:</h2>
        <p>1- Ambar Mendoza</p>
        <p>2- Viviana Beltre</p>
        <p>3- Anthony Perez</p>
        <p>4- Johann Cruz</p>
        <p>5- Jose Manuel Mordan</p>
      @*  <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@
</div>
